body {
    background-image: url('../images/houndstooth-pattern.png');
}

.bg-light {
    background-color: #fff!important;
}

p {
    font-size:1.2rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav {
    color:#4aaaa5;
}

.navbar-brand {
    font-family:'Georgia', Times, Times New Roman, serif;
    text-transform: capitalize;
    font-size:2em;
    padding:10px;
    background:#4aaaa5;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color:#fff;
}

a.nav-link::after {
    content: "|";
    display: inline-block;
    clear: both;
    padding: 5px;
}

.container,
.main-content {
    background:#fff;
    margin-top:20px;
    padding:20px;
}

.container-fluid {
    padding:0;
}

.main-content {
    border:2px solid #ccc;
}

h2 {
    text-transform: capitalize;
    color:#4aaaa5;
}



@media (max-width:576px) {
    .container,
    .main-content {border:none;}
    p { 
        margin:20px 0 10px 0;
        text-align: center;
        font-size:1rem;
    }

    h2 {text-align: center;}
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
    position: absolute;
    right: 15px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding:0;
    }


}
